In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importin Origin table spanish_regions.csv

spanish_regions = pd.read_csv('../spanishregions_dataset.csv', sep=';')

In [3]:
# Changing the name of "La Vall de Boí" to "Vall de Boí " to have the same name as in the muni_table shown next"

spanish_regions.loc[3847, 'RegionName'] = 'Vall de Boí'

In [4]:
spanish_regions.head()

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
0,1001,Alegría-Dulantzi,2882,1979,1339,32.340,0.523,1.568,11.949,15.310,...,55.676,37.838,0.416,3.574,2.429,2.703,12.432,6.486,63.243,15.135
1,1002,Amurrio,10263,8124,5722,29.567,0.542,1.188,8.668,10.346,...,46.308,48.811,0.380,3.605,3.800,3.755,14.268,10.638,56.571,14.768
2,1003,Aramaio,1518,1190,782,34.286,0.256,1.023,1.662,1.535,...,56.000,44.000,0.000,0.922,0.725,0.000,32.000,8.000,60.000,0.000
3,1004,Artziniega,1829,1399,1008,27.949,0.794,1.290,12.897,7.044,...,41.509,56.604,0.109,2.406,3.280,3.774,16.038,3.774,66.038,10.377
4,1006,Armiñón,244,175,140,20.000,0.000,0.000,25.714,12.857,...,33.333,66.667,0.000,1.639,3.279,16.667,8.333,16.667,58.333,0.000

In [5]:
spanish_regions[spanish_regions['RegionName'] == 'Vall de Boí']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
3847,25043,Vall de Boí,1004,807,501,37.918,2.196,0.798,3.992,7.984,...,50.0,50.0,0.0,0.498,0.498,0.0,20.0,0.0,80.0,0.0

## Importing the muni_table data containing information about municipalities in Catalonia

In [47]:
muni_table = pd.read_csv('../muni_table.csv')

In [48]:
muni_table.head()

,Municipality,Comarca,Province,Population(2014)[3],Area(km2)[3],Density,No. ofEMDs[4]
0,Abella de la Conca,Pallars Jussà,Lleida,170,78.3,2.2,NaN
1,Abrera,Baix Llobregat,Barcelona,"12,125",19.9,609.3,NaN
2,Àger,Noguera,Lleida,594,160.6,3.7,NaN
3,Agramunt,Urgell,Lleida,"5,515",79.6,69.3,NaN
4,Aguilar de Segarra,Bages,Barcelona,251,43.3,5.8,NaN

In [49]:
# Changing the name of the Municipality column

muni_table = muni_table.rename(columns= {'Municipality': 'RegionName'})
muni_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 7 columns):
RegionName             948 non-null object
Comarca                947 non-null object
Province               947 non-null object
Population(2014)[3]    948 non-null object
Area(km2)[3]           948 non-null object
Density                948 non-null object
No. ofEMDs[4]          41 non-null float64
dtypes: float64(1), object(6)
memory usage: 51.9+ KB

In [50]:
muni_table = muni_table[['Province', 'RegionName']][:-1]

In [10]:
muni_table.sort_values(['Province', 'RegionName']).head()

     Province          RegionName
1   Barcelona              Abrera
4   Barcelona  Aguilar de Segarra
6   Barcelona          Aiguafreda
28  Barcelona              Alella
43  Barcelona              Alpens

#### Joining the two tables spanish_regions and muni_table to see if they have repeated RegionNames

In [11]:
join_tables = spanish_regions.merge(muni_table, how= 'right')

In [12]:
join_tables[join_tables['RegionName'] == 'Vall de Boí']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge,Province
574,25043,Vall de Boí,1004,807,501,37.918,2.196,0.798,3.992,7.984,...,50.0,0.0,0.498,0.498,0.0,20.0,0.0,80.0,0.0,Lleida

In [13]:
join_tables[join_tables['RegionName'].duplicated()]

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge,Province
312,17030,Cabanes,931,641,400,37.598,0.250,0.500,15.500,8.500,...,46.939,0.322,2.470,2.470,10.204,2.041,10.204,65.306,12.245,Girona
411,33037,Mieres,40338,34455,22881,33.592,1.062,1.289,24.815,27.752,...,43.537,0.739,4.730,4.217,1.177,9.265,13.489,63.834,12.234,Girona
497,46244,Torrent,80107,58771,42137,28.303,0.641,0.641,34.117,21.777,...,48.443,0.908,4.671,5.242,3.299,15.286,11.364,62.552,7.499,Girona
767,43085,El Molar,291,226,180,20.354,0.556,0.000,6.667,16.111,...,66.667,0.000,0.344,0.687,0.000,66.667,0.000,33.333,0.000,Tarragona

In [14]:
join_tables[join_tables['RegionName'] == 'Cabanes']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge,Province
311,12033,Cabanes,2939,1919,1437,25.117,1.322,2.296,37.161,24.635,...,45.641,0.544,3.062,3.028,8.718,18.974,14.872,42.564,14.872,Girona
312,17030,Cabanes,931,641,400,37.598,0.250,0.500,15.500,8.500,...,46.939,0.322,2.470,2.470,10.204,2.041,10.204,65.306,12.245,Girona

In [15]:
spanish_regions[spanish_regions['RegionName'] == 'Cabanes']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
1838,12033,Cabanes,2939,1919,1437,25.117,1.322,2.296,37.161,24.635,...,46.154,45.641,0.544,3.062,3.028,8.718,18.974,14.872,42.564,14.872
2480,17030,Cabanes,931,641,400,37.598,0.250,0.500,15.500,8.500,...,46.939,46.939,0.322,2.470,2.470,10.204,2.041,10.204,65.306,12.245

In [16]:
spanish_regions[spanish_regions['RegionName'] == 'Mieres']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
2550,17105,Mieres,330,247,147,40.486,0.680,0.000,8.844,3.401,...,38.462,53.846,0.303,1.515,2.121,0.000,0.000,7.692,84.615,7.692
5005,33037,Mieres,40338,34455,22881,33.592,1.062,1.289,24.815,27.752,...,48.835,43.537,0.739,4.730,4.217,1.177,9.265,13.489,63.834,12.234

In [17]:
spanish_regions[spanish_regions['RegionName'] == 'Torrent']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
2635,17197,Torrent,169,132,102,22.727,0.980,0.980,5.882,8.824,...,50.00,50.000,0.000,0.592,0.592,0.000,0.000,50.000,50.000,0.000
7216,46244,Torrent,80107,58771,42137,28.303,0.641,0.641,34.117,21.777,...,43.17,48.443,0.908,4.671,5.242,3.299,15.286,11.364,62.552,7.499

In [18]:
spanish_regions[spanish_regions['RegionName'] == 'El Molar']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
4363,28086,El Molar,8036,5154,3530,31.510,0.368,1.048,41.190,18.470,...,49.664,45.470,0.361,3.683,3.372,1.678,6.376,9.228,79.195,3.523
6433,43085,El Molar,291,226,180,20.354,0.556,0.000,6.667,16.111,...,33.333,66.667,0.000,0.344,0.687,0.000,66.667,0.000,33.333,0.000

###### Now that we know what municipalities are from Catalonia and which are not, we can delete them from the spanish_table to join this one with muni_table using RegionName as keys.

In [29]:
# Deleting Cabanes and creating a new table called final_spanish_regions

final_spanish_regions = spanish_regions.drop(1838)

In [31]:
## Just cheking if it was properly deleted

final_spanish_regions[final_spanish_regions['RegionName'] == 'Cabanes']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
2480,17030,Cabanes,931,641,400,37.598,0.25,0.5,15.5,8.5,...,46.939,46.939,0.322,2.47,2.47,10.204,2.041,10.204,65.306,12.245

In [39]:
# Deleting Mieres

final_spanish_regions = final_spanish_regions.drop(5005)

KeyError: '[5005] not found in axis'

In [44]:
## Just cheking if it was properly deleted

final_spanish_regions[final_spanish_regions['RegionName'] == 'Mieres']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
2550,17105,Mieres,330,247,147,40.486,0.68,0.0,8.844,3.401,...,38.462,53.846,0.303,1.515,2.121,0.0,0.0,7.692,84.615,7.692

In [35]:
# Deleting Torrent

final_spanish_regions = final_spanish_regions.drop(7216)

In [36]:
## Just cheking if it was properly deleted

final_spanish_regions[final_spanish_regions['RegionName'] == 'Torrent']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
2635,17197,Torrent,169,132,102,22.727,0.98,0.98,5.882,8.824,...,50.0,50.0,0.0,0.592,0.592,0.0,0.0,50.0,50.0,0.0

In [37]:
# Deleting El Molar

final_spanish_regions = final_spanish_regions.drop(4363)

In [38]:
## Just cheking if it was properly deleted

final_spanish_regions[final_spanish_regions['RegionName'] == 'El Molar']

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
6433,43085,El Molar,291,226,180,20.354,0.556,0.0,6.667,16.111,...,33.333,66.667,0.0,0.344,0.687,0.0,66.667,0.0,33.333,0.0

In [ ]:
# Saving the new table to a csv file

In [45]:
final_spanish_regions.to_csv('final_spanish_regions.csv')

In [46]:
final_spanish_regions

,Code,RegionName,Population,TotalCensus,TotalVotes,AbstentionPtge,BlankVotesPtge,NullVotesPtge,PP_Ptge,PSOE_Ptge,...,Unemploy25_40_Ptge,UnemployMore40_Ptge,UnemployLess25_population_Ptge,Unemploy25_40_population_Ptge,UnemployMore40_population_Ptge,AgricultureUnemploymentPtge,IndustryUnemploymentPtge,ConstructionUnemploymentPtge,ServicesUnemploymentPtge,NotJobBeforeUnemploymentPtge
0,1001,Alegría-Dulantzi,2882,1979,1339,32.340,0.523,1.568,11.949,15.310,...,55.676,37.838,0.416,3.574,2.429,2.703,12.432,6.486,63.243,15.135
1,1002,Amurrio,10263,8124,5722,29.567,0.542,1.188,8.668,10.346,...,46.308,48.811,0.380,3.605,3.800,3.755,14.268,10.638,56.571,14.768
2,1003,Aramaio,1518,1190,782,34.286,0.256,1.023,1.662,1.535,...,56.000,44.000,0.000,0.922,0.725,0.000,32.000,8.000,60.000,0.000
3,1004,Artziniega,1829,1399,1008,27.949,0.794,1.290,12.897,7.044,...,41.509,56.604,0.109,2.406,3.280,3.774,16.038,3.774,66.038,10.377
4,1006,Armiñón,244,175,140,20.000,0.000,0.000,25.714,12.857,...,33.333,66.667,0.000,1.639,3.279,16.667,8.333,16.667,58.333,0.000
5,1008,Arratzua-Ubarrundia,997,786,513,34.733,2.144,0.780,21.248,7.212,...,45.161,41.935,0.401,1.404,1.304,3.226,25.806,0.000,61.290,9.677
6,1009,Asparrena,1647,1265,849,32.885,0.236,0.471,7.303,8.952,...,36.697,55.963,0.486,2.429,3.704,4.587,28.440,0.917,55.963,10.092
7,1010,Ayala / Aiara,2927,2268,1623,28.439,0.678,1.232,9.427,6.285,...,41.525,57.627,0.034,1.674,2.323,1.695,18.644,6.780,69.492,3.390
8,1011,Baños de Ebro / Mañueta,311,235,174,25.957,2.299,1.724,40.230,9.195,...,25.000,50.000,0.322,0.322,0.643,75.000,0.000,0.000,25.000,0.000
9,1013,Barrundia,905,712,454,36.236,0.000,0.881,10.352,5.066,...,32.000,64.000,0.110,0.884,1.768,8.000,24.000,12.000,48.000,8.000
10,1014,Berantevilla,467,371,280,24.528,1.429,2.857,25.357,13.214,...,60.000,28.000,0.642,3.212,1.499,16.000,8.000,8.000,56.000,12.000
11,1016,Bernedo,526,433,228,47.344,2.193,0.877,23.684,7.018,...,52.941,47.059,0.000,1.711,1.521,5.882,5.882,5.882,76.471,5.882
12,1017,Campezo / Kanpezu,1069,849,571,32.744,0.876,1.051,14.361,9.457,...,48.276,44.828,0.374,2.619,2.432,8.621,20.690,3.448,58.621,8.621
13,1018,Zigoitia,1765,1386,939,32.251,0.319,0.958,14.058,10.011,...,43.137,50.980,0.170,1.246,1.473,0.000,19.608,9.804,62.745,7.843
14,1019,Kripan,182,150,106,29.333,0.943,0.943,16.981,1.887,...,0.000,100.000,0.000,0.000,1.099,0.000,50.000,0.000,50.000,0.000
15,1020,Kuartango,362,327,237,27.523,1.266,1.266,9.705,3.376,...,27.273,63.636,0.276,0.829,1.934,0.000,18.182,9.091,63.636,9.091
16,1021,Elburgo / Burgelu,608,473,310,34.461,0.000,0.323,23.226,12.581,...,47.368,42.105,0.329,1.480,1.316,0.000,15.789,5.263,78.947,0.000
17,1022,Elciego,1051,800,557,30.375,0.359,2.334,29.623,21.903,...,47.273,40.000,0.666,2.474,2.093,41.818,7.273,5.455,32.727,12.727
18,1023,Elvillar / Bilar,353,267,187,29.963,0.535,0.535,33.690,7.487,...,43.750,50.000,0.283,1.983,2.266,43.750,6.250,6.250,25.000,18.750
19,1027,Iruraiz-Gauna,509,416,257,38.221,1.167,1.167,14.397,2.724,...,50.000,50.000,0.000,1.375,1.375,0.000,7.143,14.286,78.571,0.000
20,1028,Labastida / Bastida,1471,1070,716,33.084,0.419,0.838,28.492,13.547,...,55.670,34.021,0.680,3.671,2.243,37.113,10.309,3.093,36.082,13.402
21,1030,Lagrán,163,156,129,17.308,2.326,0.000,32.558,7.752,...,50.000,50.000,0.000,1.227,1.227,0.000,25.000,50.000,25.000,0.000
22,1031,Laguardia,1520,1169,882,24.551,0.680,2.154,33.787,8.050,...,47.059,48.529,0.197,2.105,2.171,16.176,8.824,4.412,60.294,10.294
23,1032,Lanciego / Lantziego,679,517,361,30.174,0.277,1.939,22.992,13.296,...,55.263,39.474,0.295,3.093,2.209,42.105,10.526,7.895,34.211,5.263
24,1033,Lapuebla de Labarca,860,651,484,25.653,0.413,1.033,21.281,12.810,...,48.485,42.424,0.698,3.721,3.256,46.970,3.030,0.000,34.848,15.152
25,1034,Leza,216,161,124,22.981,0.806,0.806,10.484,16.129,...,42.857,42.857,0.463,1.389,1.389,71.429,0.000,0.000,0.000,28.571
26,1036,Laudio / Llodio,18300,14955,10052,32.785,0.547,0.925,10.943,14.246,...,47.855,46.036,0.459,3.596,3.459,2.473,14.182,6.691,64.800,11.855
27,1037,Arraia-Maeztu,712,587,411,29.983,0.243,0.730,15.328,8.029,...,40.000,56.667,0.140,1.685,2.388,10.000,16.667,3.333,60.000,10.000
28,1039,Moreda de Álava / Moreda Araba,233,209,155,25.837,0.000,1.290,19.355,22.581,...,33.333,58.333,0.429,1.717,3.004,16.667,0.000,25.000,50.000,8.333
29,1041,Navaridas,231,149,103,30.872,0.971,2.913,38.835,4.854,...,60.000,40.000,0.000,1.299,0.866,60.000,0.000,0.000,40.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8089,50274,Val de San Martín,70,71,55,22.535,0.000,0.000,50.909,20.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8090,50275,Valmadrid,128,108,55,49.074,0.000,0.000,63.636,23.636,...,60.000,40.000,0.000,2.344,1.563,0.000,20.000,20.000,60.000,0.000
8091,50276,Valpalmas,142,125,104,16.800,1.923,0.962,44.231,31.731,...,0.000,0.000,0.704,0.000,0.000,0.000,0.000,0.000,100.000,0.000
8092,50277,Valtorres,66,50,42,16.000,0.000,2.381,64.286,4.762,...,25.000,75.000,0.000,1.515,4.545,25.000,0.000,0.000,75.000,0.000
8093,50278,Velilla de Ebro,250,197,145,26.396,0.000,0.000,53.103,24.828,...,40.000,60.000,0.000,1.600,2.400,0.000,30.000,10.000,60.000,0.000
8094,50279,Velilla de Jiloca,120,86,64,25.581,0.000,0.000,20.312,64.062,...,40.000,40.000,0.833,1.667,1.667,40.000,0.000,20.000,20.000,20.000
8095,50280,Vera de Moncayo,388,332,253,23.795,0.000,1.186,30.040,31.621,...,40.000,46.667,0.515,1.546,1.804,6.667,6.667,6.667,66.667,13.333
8096,50281,Vierlas,96,73,51,30.137,0.000,1.961,70.588,9.804,...,100.000,0.000,0.000,2.083,0.000,0.000,100.000,0.000,0.000,0.000
8097,50282,La Vilueña,111,69,54,21.739,0.000,0.000,51.852,16.667,...,66.667,33.333,0.000,1.802,0.901,33.333,33.333,0.000,33.333,0.000
8098,50283,Villadoz,90,70,57,18.571,1.754,0.000,52.632,28.070,...,0.000,50.000,1.111,0.000,1.111,100.000,0.000,0.000,0.000,0.000
8099,50284,Villafeliche,195,141,107,24.113,0.000,2.804,39.252,39.252,...,50.000,50.000,0.000,1.026,1.026,0.000,25.000,0.000,75.000,0.000
8100,50285,Villafranca de Ebro,836,644,436,32.298,0.459,0.459,40.138,28.899,...,24.490,65.306,0.598,1.435,3.828,2.041,16.327,10.204,65.306,6.122
8101,50286,Villalba de Perejil,98,77,50,35.065,6.000,0.000,36.000,34.000,...,0.000,80.000,1.020,0.000,4.082,0.000,20.000,20.000,40.000,20.000
8102,50287,Villalengua,348,270,191,29.259,0.000,0.000,46.597,27.225,...,38.889,55.556,0.287,2.011,2.874,27.778,11.111,11.111,44.444,5.556
8103,50288,Villanueva de Gállego,4614,3387,2415,28.698,1.284,0.704,38.923,18.923,...,36.100,57.676,0.325,1.886,3.013,1.660,13.693,3.734,77.178,3.734
8104,50289,Villanueva de Jiloca,57,51,38,25.490,0.000,0.000,55.263,36.842,...,33.333,66.667,0.000,1.754,3.509,0.000,0.000,0.000,100.000,0.000
8105,50290,Villanueva de Huerva,491,386,283,26.684,0.353,0.353,40.989,32.862,...,42.105,47.368,0.407,1.629,1.833,10.526,31.579,21.053,31.579,5.263
8106,50291,Villar de los Navarros,113,96,74,22.917,0.000,0.000,58.108,25.676,...,100.000,0.000,0.000,2.655,0.000,0.000,0.000,33.333,66.667,0.000
8107,50292,Villarreal de Huerva,247,125,102,18.400,0.980,0.000,64.706,16.667,...,60.000,20.000,1.215,3.644,1.215,53.333,13.333,6.667,26.667,0.000
8108,50293,Villarroya de la Sierra,503,413,276,33.172,1.449,0.362,32.971,35.145,...,34.483,65.517,0.000,1.988,3.777,20.690,3.448,10.345,62.069,3.448
8109,50294,Villarroya del Campo,80,70,63,10.000,0.000,0.000,50.794,28.571,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8110,50295,Vistabella,45,48,43,10.417,0.000,2.326,41.860,30.233,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8111,50296,La Zaida,473,396,286,27.778,1.399,3.846,17.832,37.413,...,30.769,69.231,0.000,0.846,1.903,0.000,38.462,0.000,61.538,0.000
8112,50297,Zaragoza,664953,498966,362043,27.441,0.759,0.686,33.604,22.702,...,43.151,48.079,0.596,2.933,3.268,3.023,10.345,8.216,68.528,9.889
8113,50298,Zuera,7820,5333,3949,25.952,0.988,1.190,37.706,26.792,...,34.694,56.851,0.371,1.522,2.494,4.082,15.743,12.245,62.391,5.539
8114,50901,Biel,148,138,105,23.913,0.000,0.000,40.000,31.429,...,40.000,60.000,0.000,1.351,2.027,0.000,40.000,40.000,20.000,0.000
8115,50902,Marracos,94,87,79,9.195,2.532,0.000,63.291,17.722,...,0.000,100.000,0.000,0.000,2.128,0.000,0.000,0.000,100.000,0.000
8116,50903,Villamayor de Gállego,2793,2214,1602,27.642,0.499,1.061,34.082,21.598,...,43.564,47.525,0.322,1.575,1.719,5.941,12.871,5.941,69.307,5.941
8117,51001,Ceuta,84263,59125,31093,47.411,1.016,1.145,51.317,22.343,...,49.833,35.239,2.333,7.789,5.508,0.486,4.457,6.196,71.200,17.661
8118,52001,Melilla,85584,53307,27373,48.650,0.975,1.319,49.238,24.780,...,46.165,37.472,2.224,6.273,5.092,0.963,1.324,8.057,69.407,20.249

In [51]:
muni_table.to_csv('../muni_table.csv')